html{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: aliceblue;
}

h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
    color: yellow;
    border: beige;
}

body{
    width: 100%;
    margin: 10, 20, 10, 20;
    padding: 0 20px 20px 20px;

}
